h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
}

h2 {
    font-family: "Josefin Slab", serif;
}

h3 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal; 
}

header {
    background-image: url('../images/wienKanal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

  

