body {
    background-color: rgb(120,19,32);
    margin: 0 auto;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-image: url('../images/wienKanal.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    color: white;
    margin: 0 auto;
    padding-top: 300px;
}

header h1 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 80px;
    text-align: center;
    margin: 0;
    text-shadow: 4px 4px black;
}

header h2 {
    font-family: "Josefin Slab", serif;
    text-align: center;
    margin: 0 auto;
    
}

header h3 {
    font-family: "Rye", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center; 
    font-size: 30px;
    margin: 0 auto;
    text-shadow: 4px 4px black;
}





  

